<app-home></app-home>

<form class="campaign-form" [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
  <div>
    <label> Name of the Campaign </label>
    <input type="text" formControlName="name" />
    <span
      *ngIf="
        campaignForm.get('name')?.invalid && campaignForm.get('name')?.touched
      "
    >
      Name of the Campaign is required
    </span>
  </div>
  <div>
    <label> Keywords </label>
    <input type="text" formControlName="keywords" />
    <span
      *ngIf="
        campaignForm.get('keywords')?.invalid &&
        campaignForm.get('keywords')?.touched
      "
    >
      Keywords are required
    </span>
  </div>
  <div>
    <label> Bid amount </label>
    <input type="number" formControlName="bidAmount" />
    <span
      *ngIf="
        campaignForm.get('bidAmount')?.invalid &&
        campaignForm.get('bidAmount')?.touched
      "
    >
      Min amount is 1500
    </span>
  </div>
  <div>
    <label> Campaign fund </label>
    <input type="number" formControlName="campaignFund" />
    <span
      *ngIf="
        campaignForm.get('campaignFund')?.invalid &&
        campaignForm.get('campaignFund')?.touched
      "
    >
      Name of the Campaign is required
    </span>
  </div>
  <div>
    <label> Status </label>
    <div class="radio-buttons">
      <label>
        <input type="radio" formControlName="status" value="on" /> On
      </label>
      <label>
        <input type="radio" formControlName="status" value="off" /> Off
      </label>
    </div>
    <span
      *ngIf="
        campaignForm.get('status')?.invalid &&
        campaignForm.get('status')?.touched
      "
    >
      Status need to be on or off
    </span>
  </div>
  <div>
    <label> Town </label>
    <div class="town-selector">
      <select formControlName="town">
        <option *ngFor="let city of townOptions" [value]="city">
          {{ city }}
        </option>
      </select>
    </div>
  </div>
  <div>
    <label> Radius (km)</label>
    <input type="number" formControlName="radius" />
    <span
      *ngIf="
        campaignForm.get('radius')?.invalid &&
        campaignForm.get('radius')?.touched
      "
    >
      Enter the number of kilometers
    </span>
  </div>

  <button type="submit" [disabled]="campaignForm.invalid">Submit</button>
</form>
